@{
    ViewData["Title"] = "Página de inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    

    
    <div class="row mt-4">
        <!-- Libro 1 -->
        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="Portada del Libro 1">
                <div class="card-body">
                    <h5 class="card-title">Título</h5>
                    <p class="card-text">descripción.</p>
                </div>
            </div>
        </div>

        <!-- Libro 2 -->
        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="Libro 2">
                <div class="card-body">
                    <h5 class="card-title">Título</h5>
                    <p class="card-text">descripción</p>
                </div>
            </div>
        </div>

        <!-- Libro 3 -->
        <div class="col-md-4">
            <div class="card">
                <img src="" class="card-img-top" alt="Libro 3">
                <div class="card-body">
                    <h5 class="card-title">Título</h5>
                    <p class="card-text">descripción</p>
                </div>
            </div>
        </div>
    </div>
</div>
